.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.button {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  background-color: azure;
  color: brown;
}
.button:hover {
  color: rgb(36, 157, 157);
  background-color: rgb(201, 138, 111);
}
